.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}

.meetUserVideo {
    position: absolute;
    bottom: 1.7vh;
    left: 0.8vw;;
    height: 35vh;
    width: auto;
    border-radius: 3rem;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 
    display: flex;
    padding: 50px;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    gap: 5px;
}

.conferenceView  video {
    /* width: 30vw; */
    height: 40vh;
    /* min-width: 30vw; */
    /* border-radius: 20px; */
    border-radius: 1rem;
}

